<ion-content>

    <ion-list>
        <h2 class="title-profil">Vos informations personnelles</h2>

        <ion-item>
            <ion-label floating>Prénom</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Nom</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>

    </ion-list>

</ion-content>
