<ion-content>
    <section class="profil">
        <h2 class="title-profil">Vos informations personnelles</h2>

        <form class="form-profil">

            <div class="group-form">
                <label for="firstName" class="tag-form">Votre prénom</label>
                <br>
                <input type="text" id="firstName" class="field-form">
            </div>

            <div class="group-form">
                <label for="lastName" class="tag-form">Votre nom de famille</label>
                <input type="text" id="lastName" class="field-form">
            </div>

            <div class="group-form">
                <label for="email" class="tag-form">Votre email</label>
                <input type="email" id="email" class="field-form">
            </div>

        </form>
    </section>

</ion-content>
