toolbar {
    .toolbar {
        padding-top: calc(20px + 4px);
        min-height: calc(44px + 20px);
    }

    .title {
        padding-top: 20px;
        height: calc(44px + 20px);
        min-height: calc(44px + 20px);
    }

    .toolbar-title {
        padding-top: 20px;
        height: calc(44px + 20px);
        min-height: calc(44px + 20px);
    }
}
