$white: #FFF;
$black: #000;

.next-visit {
    margin: 15px;
    border-radius: 4px;
    background-color: $white;
}

.title-next-visit {
    padding: 10px;
    font-size: 20px;
    line-height: 24px;

    &:nth-of-type(n+2) {
        margin-top: 20px;
    }
}

.article-next-visit {
    position: relative;
    cursor: pointer;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        content: "";
        width: 100%;
        height: 100%;
        // background-color: $black;
        opacity: 0.2;
    }
}

.title-article {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    padding: 5px;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    line-height: 14px;
    color: $white;
}

.img-article {
    border-radius: 0 0 4px 4px;
}

.list-next-visit {
    margin-top: 10px;
    padding: 0 10px;
}

.item-next-visit {
    list-style: none;
    position: relative;
    padding-left: 30px;

    & + .item-next-visit {
        margin-top: 10px;
    }
}

.icon-next-visit {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    margin-top: -10px;
    font-size: 20px;
    line-height: 20px;
}

.paragraph-next-visit {
    padding: 10px;
}
