<section class="next-visit">
  <h2 class="title-next-visit">Votre prochaine visite</h2>
  <article class="article-next-visit">
    <h1 class="title-article">Crimes at the Musée de la Police</h1>
    <img src="assets/img/offers/2.jpg" alt="" class="img-article">
  </article>
  <h2 class="title-next-visit">Votre lieu de rendez-vous</h2>
  <img src="assets/img/map.png" alt="" class="img-next-visit">
  <ul class="list-next-visit">
    <li class="item-next-visit"><i class="fa fa-map-marker icon-next-visit"></i>4 Rue de la Montagne Sainte Geneviève, 75005 Paris</li>
    <li class="item-next-visit"><i class="fa fa-clock-o icon-next-visit"></i>14:00pm</li>
    <li class="item-next-visit"><i class="fa fa-subway icon-next-visit"></i>M10, Bus 24, 63</li>
  </ul>
  <h2 class="title-next-visit">Votre guide</h2>
  <img src="assets/img/guide.jpg" alt="" class="img-next-visit">
  <p class="paragraph-next-visit">
    Thierry is a licensed tour guide, an insatiable Paris lover and a writer of history books. As many Parisians – among the best ones –, he was not born in Paris but moved here by choice, as a student. He never left since.
  </p>
</section>