$white: #FFF;
$black: #000;

.news {
    margin: 15px;
}

.title-news {
    padding: 10px;
    font-size: 20px;
    line-height: 24px;
}

.article-news {
    position: relative;
    cursor: pointer;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        content: "";
        width: 100%;
        height: 100%;
        // background-color: $black;
        opacity: 0.2;
    }
}

.title-article {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 20;
    width: 100%;
    margin-top: -28px;
    padding: 0 10px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $white;
}

.img-article {
    border-radius: 4px;
}
