$white: #FFF;
$facebook: #3B5998;
$twitter: #1DA1F2;
$linkedin: #0077B5;

.full-news {
    margin: 15px;
    border-radius: 4px;
    background-color: $white;
}

.title-full-news {
    font-size: 20px;
}

.paragraph-full-news {
    font-size: 16px;
    line-height: 24px;

    img {
        display: block;
        margin: 0 auto 12px;
    }
}

.share-full-news {
    display: table;
    width: 100%;
    margin-top: 10px;
}

.button-share {
    display: table-cell;
    vertical-align: middle;
    width: 33.33%;
    padding: 6px;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    cursor: pointer;

    &.facebook {
        border-radius: 0 0 0 4px;
        background-color: $facebook;
    }

    &.twitter {
        background-color: $twitter;
    }

    &.linkedin {
        border-radius: 0 0 4px 0;
        background-color: $linkedin;
    }
}

.icon-share {
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
}
