<ion-header>
    <ion-navbar>
        <ion-title>{{lastPost.category}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <article class="full-news">

        <h1 class="title-full-news" [textContent]="lastPost.title.rendered"></h1>
        <img [src]="lastPost.featured_media_src" [alt]="lastPost.featured_media_alt" class="img-full-news">
        <p class="paragraph-full-news" [innerHTML]="lastPost.content.rendered"></p>

        <div class="share-full-news">
            <button type="button" class="button-share facebook"><i class="fa fa-facebook icon-share"></i></button>
            <button type="button" class="button-share twitter"><i class="fa fa-twitter icon-share"></i></button>
            <button type="button" class="button-share linkedin"><i class="fa fa-linkedin icon-share"></i></button>
        </div>
    </article>
</ion-content>
