<section class="slider">

    <h2 [textContent]="title" class="title-slider"></h2>

    <swiper [config]="config">
        <div class="swiper-wrapper">

            <template ngFor let-offer [ngForOf]="push" let-i="index">
                <div class="swiper-slide" *ngIf="offer.status == 'publish'">
                    <div (click)="redirect(offer)" class="push-slider">
                        <thumbnail-img [src]="offer.images[0].src" [alt]="offer.images[0].alt" class="img-push"></thumbnail-img>
                        <p [textContent]="offer.categories[0].name" class="cat-push"></p>
                        <p [textContent]="offer.name" class="title-push"></p>
                        <p [innerHTML]="'À partir de ' + offer.price_html" class="price-push"></p>
                    </div>
                </div>
            </template>

        </div>
    </swiper>

</section>
